<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969015051598-8crifkg2e1rngbc4ruc7dmfais1ts6r8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969015051598-8crifkg2e1rngbc4ruc7dmfais1ts6r8</string>
	<key>API_KEY</key>
	<string>AIzaSyCdMu9a9eT2Vx8OEcZTpxbxK4vm5q7JmZk</string>
	<key>GCM_SENDER_ID</key>
	<string>969015051598</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ShoppingList</string>
	<key>PROJECT_ID</key>
	<string>shoppinglist-swiftui-2c57f</string>
	<key>STORAGE_BUCKET</key>
	<string>shoppinglist-swiftui-2c57f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969015051598:ios:0d27a3a92497f19aec8a1f</string>
</dict>
</plist>